
     
     div{
    text-align: center;
    width: 300px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
  
  }
  
    body{
      text-align: center;
      margin: 10px 0;
      padding: 12px 250px;
      background-color: #778899;
      font-family: 'Oswald';
      }
      form { 
        padding: 12px 30px;
        margin: 10px 0;
        text-align: left;
        
        }
      
       input[type=text]{
        padding: 5px ;
        margin: 5px 0;
        width:230px;
        }
        input[type=password]{
        padding: 5px ;
        margin: 5px 0;
        width:230px;
        }
         input[type=date]{
        padding: 5px ;
        margin: 5px 0;
        width:230px;
        }
      input[type=submit]{
        color:white;
        background-color:green;
        }
         input[type=reset]{
        color:white;
        background-color:red;
        }
      
